

input,label,button{
    display: block;
    margin: 10px;
}
.error{
    color: red;
    font-size: 12px;
    font-weight: bold;
}

.success{
    color: green;
    font-size: 12px;
    font-weight: bold;
}


